@charset "UTF-8";
.articles-main {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
}

.articles-main .articles-container {
  position: relative;
  width: 100%;
}

q {
  color: white;
  font-family: 'Lora', serif;
}

.block {
  display: block;
  width: 100%;
  margin: 0;
}

.block img {
  display: block;
  max-width: 100%;
  max-height: auto;
  margin: auto;
}

figure {
  border: 2px solid #110000;
  width: 150px;
  padding: 7px;
}

figcaption {
  color: white;
  font-family: 'Lora', serif;
  font-size: 13px;
  text-align: center;
  margin: 4px;
  padding: 5px;
}

.float {
  float: right;
}

.float img {
  max-width: 150px;
  height: auto;
}

.left {
  float: left;
}

.originals {
  color: white;
  text-align: center;
}

.originals a {
  color: #42002a;
  text-decoration: none;
  font-family: 'Cormorant SC', serif;
}

.originals a:hover {
  color: #5A4E8A;
  text-decoration: 1px solid #5A4E8A;
}

.articles-list {
  max-width: 100%;
  padding: 10px;
}

.articles-list li {
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #555555;
  list-style-type: none;
  color: white;
  font-family: 'Cormorant SC', serif;
  cursor: pointer;
}

.articles-list a {
  color: white;
  text-decoration: none;
  font-family: 'Cormorant SC', serif;
}

.articles-list a:hover {
  color: #5A4E8A;
  text-decoration: 1px solid #5A4E8A;
}

.dropdown-list {
  list-style-type: none;
}

.dropdown-list li::before {
  content: none;
}

.before::before {
  content: "▲";
  color: #555555;
}

.after::before {
  content: "▼";
  color: #555555;
}

.vanitas-list {
  display: block;
  color: white;
  font-family: 'Lora', serif;
}

.vanitas-list li {
  padding: 15px;
}

blockquote {
  background-color: #555555;
  color: black;
  font-size: medium;
  padding: 10px;
  border: 1px solid #42002a;
  clear: both;
}

.figures-set {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.figures-item {
  flex: 2 1 200px;
}

.figures-item img {
  max-width: 150px;
  display: block;
  margin: auto;
}

.link {
  display: block;
  width: 50%;
  background-color: #555555;
  color: #110000;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
}

.link a {
  color: #42002a;
  font-size: large;
}

.link a:hover {
  color: #5A4E8A;
  text-decoration: 1px solid #6F2E9C;
}

ol {
  display: block;
  color: white;
  font-family: 'Lora', serif;
}

ol li {
  padding: 15px;
  list-style-position: inside;
}

.italic {
  font-style: italic;
  color: white;
  font-size: medium;
}

iframe {
  display: block;
  margin: auto;
}
