.albums {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}
.album {
    width: auto;
    height: auto;
    cursor: pointer;
    border: 1px dotted #42002a;
    padding: 15px;
}
.album img {
    width: 300px;
    height: auto;
}