.gallery {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}
.gallery img {
    margin: 7px;
    flex: auto;
    cursor: pointer;
    max-width: 50%;
}
.european img {
    max-width: 600px;
    max-height: 400px;
}
.resizeImage {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.resizeImage img {
    display: block;
    margin: auto;
}
.closeButn {
    color: #42002a;
    font-weight: 900;
    font-size: 50px;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1010;
    cursor: pointer;
}