.articles-main {
   display: flex;
   flex-flow: row nowrap;
}
.articles-aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 2px solid #110000;
    margin: 15px;
    width: 20%;
    height: 100%;
    text-align: center;
}
.articles-aside a {
    font-size: 20px;
    padding: 30px;
    color: #42002a;
    font-family: 'Cormorant SC', serif;
    text-decoration: none;
}
.articles-aside a:hover {
    color: #5A4E8A;
}
q {
    color: white;
    font-family: 'Lora', serif;
}
main img {
    cursor: pointer;
}
.bold {
    font-family: 'Lora', serif;
    font-size: large;
    font-weight: bold;
}
.block {
    display: block;
    width: 98%;
    margin: 0;
}
.block img {
    display: block;
    max-width: 1000px;
    max-height: 700px;
    margin: auto;
}
figure {
    border: 2px solid #110000;
    width: 150px;
    padding: 7px;
}
figcaption {
    color: white;
    font-family: 'Lora', serif;
    font-size: 13px;
    text-align: center;
    margin: 4px;
    padding: 5px;
}
.float {
    float: right;
}
.float img {
    max-width: 150px;
    height: auto;
}
.left {
    float: left;
}
.originals {
    color: white;
    text-align: center;
}
.originals a {
    color: #42002a;
    text-decoration: none;
    font-family: 'Cormorant SC', serif;
}
.originals a:hover {
    color: #5A4E8A;
    text-decoration: 1px solid #5A4E8A;
}
.articles-list li {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #555555;
    list-style-type: none;
    color: #555555;
    font-family: 'Cormorant SC', serif;
    cursor: pointer;
}
.articles-list a {
    color: #555555;
    text-decoration: none;
    font-family: 'Cormorant SC', serif;
}
.articles-list a:hover {
    color: #5A4E8A;
    text-decoration: 1px solid #5A4E8A;
}
.dropdown-list {
    list-style-type: none;
}
.dropdown-list li::before {
    content: none;
}
.before::before {
    content: "▲";
    color: #555555;
}
.after::before {
    content: "▼";
    color: #555555;
}
.vanitas-list {
    display: block;
    color: white;
    font-family: 'Lora', serif;
}
.vanitas-list li {
    padding: 15px;
}
blockquote {
    background-color: #555555;
    color: black;
    font-size: medium;
    padding: 10px;
    border: 1px solid #42002a;
    clear: both;
}
.figures-set {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.figures-item {
    flex: 2 1 200px;
}
.figures-item img {
    max-width: 150px;
    display: block;
    margin: auto;
}
.link {
    display: block;
    width: 50%;
    background-color: #555555;
    color: #110000;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
}
.link a {
    color: #42002a;
    font-size: large;
}
.link a:hover {
    color: #5A4E8A;
    text-decoration: 1px solid #6F2E9C;
}
ol {
    display: block;
    color: white;
    font-family: 'Lora', serif;
}
ol li {
    padding: 15px;
    list-style-position: inside;
}
.italic {
    font-style: italic;
    color: white;
    font-size: medium;
}
iframe {
    display: block;
    margin: auto;
}